<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>جزییات محصولات</title>
    <div th:include="/header :: header"></div>
</head>
<body style="direction: rtl;">
<div th:include="navBar:: navbar"></div>
<div class="container" style="padding: 2rem 0rem;">
    <p>جزییات محصول</p>
    <div class="row">
        <div class="col-lg-3" >
            <img th:src="${'/image/product-images/'+product.imageAddress}" class=""
                 style="width: 250px;height: 200px;">
        </div>
        <div class="col-lg-9" style="border:1px solid black;">
            <p th:text="${product.title}"></p>
            <form th:action="@{/addToCart}" th:method="post" th:object="${item}">
                <label for="cnt">تعداد</label>
                <input type="number" th:name="cnt" placeholder="" style="width: 85px;margin-left: 19px;"
                       id="cnt" min="1">
                <input type="hidden" th:name="productId" th:value="${product.productId}">
                <button type="submit" class="btn btn-primary" style="position: absolute;">افزودن به سبد خرید
                </button>
            </form>

        </div>
    </div>

</div>

<div class="container" style="padding: 5rem 0rem;">
    <h4>گالری تصاویر</h4>
    <div class="row">
        <div class="col-md-2" th:each="image:${product.getImageList()}">
            <div class="thumbnail">
                <a th:href="@{'/image/product-images/'+${image.imageAddress}}" >
                    <img th:src="'/image/product-images/'+${image.imageAddress}" alt="Lights" style="width:150px;height:150px;">
                    <div class="caption">
                        <p></p>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
</body>
</html>